body{
	font-family: Verdana, Arial;
	font-size: 12px; 
	margin: 0;
}
	a{
	text-decoration: none;
	color: black;
	}		

/*Cabeçalho- Inicio*/
header{
	display: flex;
	justify-content:center;
	height: 120px;
}
.Menucontainer{
	width: 1040px;
	justify-content:space-between;
	display: flex;
}
	.Menucontainer .logo{
		display: flex;
		align-items: center;
		margin: 10px;
	}
	.Menucontainer .logo img{
		width: 140px;
	}	
	.Menucontainer .menu{
		display: flex;
		jutify-content:center;
		align-items: center;
	}
		nav ul{
			display: flex;
		}
		nav ul, nav li{
			align-content:center;
			List-style: none;
			padding: 0;
			margin: 0;
		}
			.Menucontainer .menu a{
				display: block;
				text-decoration: none;
				color: black;
				font-size: 12px;
				padding: 15px;
			}
			.menu a:hover {
				background-color: blue;
				color: white;
			}
			.menu nav .active a{
				background-color: red;
				color: white;
			}
			.menu_mobile{
				display: none;
				width: 40px;
				height: 40px;
				margin-top: 40px;
				margin-bottom: 40px;
				margin-right: 20px;
			}
			.menu_mobile_linha{
				height: 3px;
				background-color: blue;
			}
@media only screen and (min-width: 690px) and (max-width: 860px){

	nav ul{
		flex-direction:column;
		display: none;
		position: absolute;
    	left: 0;
    	width: 100%;
    	background-color: white;
	}
	header{
		height: auto;
	}
	.logo{
		padding: 20px;
	}
	.menu_mobile{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

@media only screen and (min-width: 350px) and (max-width: 689px){

	nav ul{
		flex-direction:column;
		display: none;
		position: absolute;
    	left: 0;
    	width: 100%;
    	background-color: white;
	}
	header{
		height: auto;
	}
	.logo{
		padding: 20px;
	}
	.menu_mobile{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
@media only screen and (max-width: 349px){
	nav ul{
		flex-direction:column;
		display: none;
		position: absolute;
    	left: 0;
    	width: 100%;
    	background-color: white;
	}
	header{
		height: auto;
	}
	.logo{
		padding: 20px;
	}
	.menu_mobile{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
/*Cabeçalho- Fim*/
/*Banner- Inicio*/
#banner{
	background-image:url('../imagens/entrada.jpg');
	background-position: center;
	background-size:cover;

	height: 400px;
	display: flex;
	justify-content:center;
}
@media only screen and (max-width: 860px){
	#banner{
		height: 250px;
	}
}	
/*Banner - Fim*/
/*Corpo - Inicio*/

#corpo{
	display: flex;
	justify-content:center;
}
	.Corpocontainer{
		width: 1040px;
		justify-content:space-between;
		display: flex;
	}
		article{
			flex:2;
			display: flex;
			justify-content:center;
			flex-wrap: wrap;
		}
		aside{
			flex:1;
			display: flex;
			justify-content:center;
			flex-direction: column;
			flex-wrap: wrap;
		}
			.Asideopcoes{
				width: 320px;
				margin:10px;
				display:flex;
				flex-direction: column;
			}
				.projeto_titulo{
					font-size: 18px;
					margin-top: 10px;
				}
				.projeto_linha{
				height: 2px;
				width: 40px;
				background-color: blue;
				margin-top: 5px;
				}
				.projeto_imagem{
				margin: auto;
				margin-top: 10px;
				}
					.projeto_imagem img{
					width: 300px;
					height: 150px;
					border: 1px solid black;
					box-shadow: 1px 1px 1px black;
					}
				.projeto_texto{
				font-size: 10px;
				margin-top: 10px;
				height: 70px;
				}

			.Articleopcoes{
				width: 320px;
				margin:10px;
				display:flex;
				flex-direction: column;
			}
				.projeto_filiadas{
				margin-top: 10px;
				display: flex;
				justify-content:center;
				flex-wrap: wrap;
			}
				.projeto_filiadas a{
					text-decoration: none;
					color: black;
					margin: auto;
				}
				.controladora{	
					margin: auto;
					width: 300px;
					height: 100px;
					margin-top: 10px;
					border: 1px solid black;
					box-shadow: 1px 1px 1px black;
					background-color: white;	
				}
					.controladora img{
						height: 100px;
						width: 300px;

					}

					.filiadas{
						margin: auto;
						width: 150px;
						height: 100px;
						margin-top: 10px;
						border: 1px solid black;
						box-shadow: 1px 1px 1px black;
						background-color: white;	
					}
						.filiadas img{
							height: 85px;
							width: 150px;
					}

@media only screen and (min-width: 690px) and (max-width: 1040px){
	.Corpocontainer{
		display: block;
	}
	aside{
		flex-direction: row;
	}
}
@media only screen and (max-width: 689px){
.Corpocontainer{
		display: block;
	}
	aside{
		flex-direction: row;
	}
}
/*Corpo - Fim*/
/*Rodapé - Inicio*/
	footer{
		display: flex;
		justify-content:center;
		background-color: black;
		color: white;
		margin-top: 20px;
	}
		footer .projeto_linha{
			background-color: white;
			margin-bottom: 5px;
		}
		footer .projeto_titulo{
			font-size: 12px;
		}
		.contatos{
		flex:2;
		width: 320px;
		display:flex;
		flex-direction: column;
		}
			.contatos a{
				color: white;
				text-decoration: none;
			}
		.departamentos a{
			color: white;
			display: block;
		}

				.enderecos{
				margin-top: 20px;
				}
	.copyright{
		display: flex;
		justify-content:center;
		background-color: black;
		color: white;
		padding: 35px;
		text-align: center;
	}
/*Rodapé - Fim*/
#atasAntigas{
	color: black;
	margin-top: 10px;
	text-decoration: underline;
	font-size: 14px;

}
#atasAnteriores{
	background-color: #F7F2E0;
	text-align: center;
	border: 1px solid black;
}
