.cabecalho{
	text-align: center;
	font-size: 12px;
	}
.cabecalho img{
	max-width: 140px;
}
nav{
	font-size: 12px;
}
form{
	font-size: 12px;
	font-weight: bold;
}
input{
	margin-top:10px;
}
#AlertaCadastro{
	font-size: 12px;
}
#fotoCPF{
	display:none;
	max-width: 80px;
}
.BTNCadastro{
	width: 100px;
}


@media only screen and (min-width: 375px) and (max-width: 425px){
.navbar-toggler{
	margin-bottom: 10px;
}
.BTNCadastro{
	margin-bottom: 10px;
	margin-left: 10px;
}
}
@media only screen and (max-width: 375px){
.BTNCadastro{
	margin-bottom: 10px;
	margin-left: 10px;
}

#validar_cpf{
	display: none;
} 
nav #titulo{
	font-size: 12px;
}
.navbar-toggler{
	margin-bottom: 10px;
}
#corpo1 a{
	font-size: 10px;
}

}
/*Corpo Sistema*/
#corpo1{
	font-size: 12px;
}
#corpo2{
}
#corpo2A{
	margin-bottom: 10px;
	text-align: center;
}
#form_validar_cpf{
	justify-content: center;
}
#corpo2B{
}
#corpo2A button{
	width: 80px;
	margin-bottom: 5px;
}
#corpo2B .alert{
	font-size: 12px;
	text-align: justify;
}
}