.cabecalho{
	text-align: center;
	font-size: 12px;
	}
.cabecalho img{
	max-width: 140px;
}
nav{
	font-size: 12px;
}
form{
	font-size: 12px;
	font-weight: bold;
}
input{
	margin-top:10px;
}
#AlertaCadastro{
	font-size: 12px;
}
@media only screen and (min-width: 375px) and (max-width: 425px){
.navbar-toggler{
	margin-bottom: 10px;
}

}
@media only screen and (max-width: 375px){
nav #titulo{
	font-size: 12px;
}
.navbar-toggler{
	margin-bottom: 10px;
}
#corpo1 a{
	font-size: 10px;
}

}
/*Corpo Sistema*/
#corpo1{
font-size: 12px;
}
#corpo2{
}
